fondo{
    background-color: #107c10 !important;
}

.Grid{
    margin-top: 0% !important;
}

.black{
    background-color: black !important;
}

.modal{
    width: 80%;
    height: 90%;
    margin: 10px;
    text-align: center;
}